/*
Text Color: #2d9ca6;
secondary text color : #00bfff;
Font Style : 'Lato', sans-serif;
Button primary color: #0d6efd;
*/

:root {
    --primary-font-family: 'Lato', sans-serif;
    --primary-font-color: #2d9ca6;
    --secondary-font-color: #00bfff;
    --button-primary-color: #0d6efd;
    --white-color: #fff;
    --aliceblue-color: aliceblue;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--primary-font-family);
  }
  
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pokemon-list {
    /* border: solid 1px red; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: auto;
    background-color: var(--aliceblue-color);
    border-radius: 5px;
    padding: 0px;
  }
  
  .pokemon-list-item {
    font-family: var(--primary-font-family);
    color: var(--primary-font-color);
    /* border: solid 1px blue; */
    display: flex;
    align-items: center;
    margin: 5px 10px 5px 10px;
    /* background-color: antiquewhite; */
  }
  
  .pokemon-list-item:first-child {
    margin-top: 10px;
  }
  
  .pokemon-list-item:last-child {
    margin-bottom: 10px;
  }
  
  .random-pokemon {
    color: var(--secondary-font-color);
  }
  
  .pokemon-list-button {
    background-color: var(--button-primary-color);
    color: var(--white-color);
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border-radius: 5px;
    flex-grow: 1;
    cursor: pointer;
    padding: 0 50px;
  }
  
  .pokemon-list-button:hover{
    background-color: rgba(13, 110, 253, 0.8);
  }
  
  li {
    list-style-type: none;
  }
  
  /* Modal styles */
  
  #modal-container {
    display: none;
  }
  
  #modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  
    /* to show it above other content */
    z-index: 999;
  
    /* to allow scrolling if the screen is not high enough*/
    overflow: auto;
  
    /* this is used to center the modal */
    display: grid;
    text-align: center;
  }
  
  .modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
  }
  
  .modal-close {
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: #777;
    cursor: pointer;
    /* text-decoration: underline; */
  }
  
  .modal-close:hover {
    background-color: #f00;
    color: #fff;
    border-radius: 50%;
  }
  
  .pokemon-front-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .modal h1 {
    margin-top: 0;
  }
  
  .modal p {
    margin-bottom: 0;
  }
  